wget
unidecode
Cython
transformers
nemo-asr
torchaudio -f https://download.pytorch.org/whl/torch_stable.html
streamlit
omegaconf
numpy
librosa
matplotlib
hydra-core
pytorch-lightning
braceexpand
webdataset
editdistance
inflect
librosa
marshmallow
packaging
ruamel.yaml
soundfile
sox
kaldi-python-io
kaldiio
scipy>=0.14
g2p_en
pydub
pyannote.core
pyannote.metrics
ipywidgets
